@import "variables";

body {
    font-family: $font;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
}

h2, h3 {
    color: $darkBlue;
}